* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* -- COLOR -- */
$grey: #ededed;
$grey_active: #ebebeb;

/* -- PLACEHOLDER CLASS -- */
%up-bar {
  background-color: $grey;
  height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  i {
    font-size: 1.6rem;
  }
}

%round-img {
  border-radius: 50%;
}

/* -------------
       MIX 
    -------------- */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

i::before {
  cursor: pointer;
}

input {
  padding: 0 10px;
  cursor: text;
}

.active {
  display: block;
}

.menu-active {
  border-radius: 50%;
  background-color: #d5d5d5;
}

.dropdown {
  display: block;
  position: absolute;
  top: 30px;
  right: 19px;
  z-index: 1;
  background-color: white;
  border: 1px solid white;
  border-radius: 5px;
  width: max-content;
  width: -webkit-max-content;
  width: -moz-max-content;
  -webkit-box-shadow: 0px 0px 5px 2px rgba(161, 161, 161, 1);
  -moz-box-shadow: 0px 0px 5px 2px rgba(161, 161, 161, 1);
  box-shadow: 0px 0px 5px 2px rgba(161, 161, 161, 1);
}

.dropdown__item {
  padding: 12px 0;
  a {
    padding: 10px 30px;
    color: grey;
    font-size: 1.4rem;
  }
  &:hover {
    background-color: $grey;
  }
}

.hide {
  display: none;
}

/* -- scroll bar -- */
.chat-group::-webkit-scrollbar,
.active-chat::-webkit-scrollbar {
  width: 7px;
}

.chat-group::-webkit-scrollbar-track,
.active-chat::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
  -webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 1);
}

.chat-group::-webkit-scrollbar-thumb,
.active-chat::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* -- SECTION -- */
body {
  font-family: "Roboto Mono", monospace;
}

header {
  height: 14vh;
  background-color: #009688;
}

main {
  display: flex;
  position: absolute;
  width: 73vw;
  height: 95vh;
  top: 50%;
  left: 50%;
  background-color: brown; //provvisorio
  transform: translate(-50%, -50%);
}

/* ------------------
        lEFT
   ----------------- */
.left {
  width: 30%;
  height: 100%;
  background-color: cadetblue; //provvisorio
}

/* User Bar */
.user-bar {
  @extend %up-bar;
}

.user-img {
  display: flex;

  img {
    @extend %round-img;
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
}

/* User Controls */
.user-controls {
  display: flex;

  i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 11px;
    width: 32px;
    height: 32px;
    color: #919191;
  }
}

.user-controls > ul {
  display: flex;
}

.user-controls > ul > li > a {
  cursor: default;
}

#user-menu {
  position: relative;
}

/* Notification */

.notification {
  height: 95px;
  background-color: #9de1fe;
  display: flex;
  align-items: center;
}

.notification_img {
  i {
    font-size: 1.6rem;
    color: #9de1fe;
    background-color: white;
    width: 50px;
    height: 50px;
    margin-left: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.notification_text {
  margin-left: 10px;
  .notification_text__title {
    font-size: 1.3rem;
  }
  .notification_text__link {
    font-size: 1.2rem;
  }
}

/* Search bar */
.search-bar {
  height: 40px;
  background-color: $grey;
  display: flex;
  align-items: center;
  position: relative;

  i {
    position: absolute;
    left: 50px;
    color: #919191;
  }

  #search-bar__input {
    width: 85%;
    height: 30px;
    margin: auto;
    padding-left: 60px;
  }
}

/* Chat group */
.chat-group {
  height: calc(100% - 54px - 95px - 40px);
  overflow-y: auto;
}

/* Single chat */
.single-chat {
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-chat:hover {
  background-color: $grey;
}

.single-chat_left {
  display: flex;
  align-items: center;
}

.single-chat_img {
  display: flex;

  img {
    @extend %round-img;
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
}

.single-chat_preview {
  margin-left: 10px;

  .chat-title {
    font-size: 1.6rem;
  }

  .text-preview {
    font-size: 1.1rem;
    color: rgb(63, 62, 62);
    padding-right: 5px;
  }
}

.single-chat_status {
  margin-right: 10px;

  .chat-last-update {
    font-size: 1.1rem;
    color: rgb(63, 62, 62);
  }
  .mute {
    font-size: 1.4rem;
    text-align: right;
    color: rgb(153, 153, 153);
  }
}
/* ------------------
        RIGHT
   ----------------- */
.right {
  width: 70%;
  height: 100%;
  position: relative;
  background-color: rgb(36, 147, 151); //provvisorio
}

/* Chat Bar */
.chat-bar {
  @extend %up-bar;
}

.chat-info {
  display: flex;
  align-items: center;
}

.chat-info__img {
  display: flex;

  img {
    @extend %round-img;
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
}

.chat-info__text {
  margin-left: 10px;

  .chat-info__title {
    font-size: 1.6rem;
  }

  .chat-info__member {
    font-size: 1.3rem;
    color: rgb(63, 62, 62);
  }
}

/* Chat controls */
.chat-controls {
  display: flex;

  & > ul {
    display: flex;
  }

  i {
    width: 32px;
    margin: 0 11px;
    color: #919191;
  }
}

#chat-menu {
  position: relative;
}

/* ------------------- CHAT ------------------ */

.chat-box {
  height: calc(100% - 54px - 55px);
  background-color: red;
}

/* Active Chat */
.active-chat {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow-y: auto;
  height: 100%;
  font-size: 1.4rem;
  background-color: rgb(36, 147, 151); //provvisorio

  & > div:first-child {
    margin-top: 20px;
  }

  & > div:last-child {
    margin-bottom: 20px;
  }

  .chat-message {
    position: relative;
    margin-top: 6px;
    padding: 10px 15px 5px 10px;
    max-width: 40%;
    width: max-content;
    border-radius: 5px;
    word-break: break-all;
    hyphens: auto;

    &:hover .chat-message__baloon-menu {
      display: block;
    }

    .chat-message__time {
      margin-top: 3px;
      margin-right: -8px;
      font-size: 1rem;
      text-align: right;
      color: grey;
    }
  }

  .my-message {
    left: -4%;
    background-color: #dcf8c6;
    align-self: flex-end;
  }
  .other-message {
    left: 4%;
    background-color: white;
  }
}

.chat-message__baloon-menu {
  display: none;
  position: absolute;
  top: 0;
  right: 0;

  i.fas.fa-chevron-down {
    color: grey;
    position: relative;
    top: -4px;
    right: 5px;
    font-size: 1.2rem;
  }
}

/* Input chat */
.input-chat {
  height: 55px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: $grey;

  i {
    font-size: 2.5rem;
    margin: 0 20px;
    color: #919191;
  }
}

#input-chat__input {
  height: 70%;
  width: 85%;
  margin: auto;
}

/* -- FOOTER -- */
footer {
  height: 86vh;
  background-color: #d4dbda;
}

/* TEMPLATE */
.template-chat__baloon,
.template-chat__archive {
  display: none;
}

/* MODAL */
.modal_full_page {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.modal_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 30%;
  height: 30%;
  background-color: #fff;
  border: 1px solid;
  -webkit-box-shadow: 0px 0px 5px 4px rgba(161, 161, 161, 1);
  -moz-box-shadow: 0px 0px 5px 4px rgba(161, 161, 161, 1);
  box-shadow: 0px 0px 5px 4px rgba(161, 161, 161, 1);

  #modal_input {
    height: 70px;
    width: 300px;
    margin: 20px 0;
    text-align: center;
    font-size: 2rem;
  }
}

// chat-search-box
.chat-search-box {
  display: none;
  position: absolute;
  top: 49%;
  right: -70%;
  transform: translate(-50%, -50%);
}

.chat-controls li.chat-search-icon {
  position: relative;
}

/* -- MEDIA QUERY -- */
@media only screen and (min-width: 1500px) {
  html {
    font-size: 12px;
  }
}

.active-archieve-chat {
  background-color: $grey_active;
}
